:root{
    --dark:rgb(36, 60, 84);
    --light:rgb(45, 221, 186);
   
}

*{
    padding: 0px;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

header{
    background-color: var(--dark);
    display: flex;
    align-items: center;
}

h1{
    margin-left: 8%;
    margin-right: auto;
    color: var(--light);
    font-size: 300%;
    
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
nav ul{ 
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    font-size: 200%;  

}
nav li{
    margin: 1rem 2rem 2rem 0;
    padding: 0.5rem;
    border-bottom: 5px solid var(--light);
}

nav a{
    text-decoration: none;
    color: var(--light);
}
nav a:hover{
    color: black;
    background-color: var(--light);
}

.subtitle{
    padding: 5%;
    background-image: url("https://static.wixstatic.com/media/bb1bd6_51f1319f65374441b87f8510b881fd3e~mv2.jpg/v1/fill/w_578,h_578,al_c,lg_1,q_80,enc_auto/bb1bd6_51f1319f65374441b87f8510b881fd3e~mv2.jpg");
}

.subtitle h2{    
    color:rgb(133, 234, 243);  
    font-family:serif; 
    font-style: italic;
    font-size: 500%;    
}

h2{
    font-size: 200%;
    color: var(--dark);
}
.about{
    display: flex;
    flex-wrap: wrap;
    width: 20%;    
}
.details{
    margin: 2rem;
    width: 70%;
}
.row{
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    margin: 5rem;     

}

.container{
  display: flex;
  
  flex-wrap: wrap;
  padding: 3%;
  width: 70%;
  border-left: 6px solid var(--dark);
  
}

.card{
    display: flex;
    flex-direction: column;
    border: 7px solid var(--light);
    background-color: var(--dark);
    margin: 1%;
    width: 90%;
    height: 40%;
    
    
    
}
.card img,a{
    flex: 1;
    width: 100%;
    height: 100%;
    
    max-width: 100%;
    max-height:100%;
    
    object-fit: cover;   
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}
.card img:hover{
    opacity: 1;
    
}

.card h3{
    display: flex;
}
.resize{ 
    height: 300px; 
    width: 45%;
}

.contacts{
    display: flex;
    flex-flow: row wrap;
}
.contacts ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    
}

.contacts li{
    padding: 1rem;
}
.contacts h3{
    padding: 1rem;
    border-bottom: 5px solid var(--dark);
}
.contacts a{
    text-decoration: none;
}
.contacts a:hover{
    background-color: var(--dark);
    color: var(--light);
}

.phone{
    user-select: all;
}

/**/
.justify-content-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.column{
    display: flex;
    flex-flow: column wrap;
}

.justify-content-right{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.justify-content-left{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

footer{
    width: 100%;
    background-color: var(--dark);
    height:3rem;
    text-align: center;
    padding: 1rem;
    
}

footer a{
    color: var(--light);
}

footer a:hover{
    color: var(--dark);
    background-color: var(--light);
}

/*Media Query*/
 /* larger screens*/
@media  screen and (min-width : 992px) {
 /*This is by default working fine*/
}

/* Medium screens*/
@media  screen and (min-width : 767px) and (max-width:991px) {
    nav ul{ 
        display: flex;
        flex-flow: column wrap;
        list-style: none;
        font-size: 200%;  
    
    }

    .container{
     
        width: 60%;
        border-left: hidden;
        border-top: 5px solid var(--dark);
        
      }

      .about{
        
        flex-direction: column;
        width: 100%;    
    }

    .row{
        
        flex-flow: column wrap;
    }

    .card{
        margin: 3%;
        width: 100%;
        height: 100%;  
    }

    .contacts ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        
    }
}

/* Smaller screens*/

@media  screen and (max-width : 767px) {
    nav ul{ 
        display: flex;
        flex-flow: column wrap;
        list-style: none;
        font-size: 200%;  
    
    }

    .container{
     
        width: 70%;
        border-left: hidden;
        
        
      }

      .about{        
        flex-direction: column;
        width: 100%;    
    }

   

    .row{        
        flex-flow: column wrap;
    }

    .card{
        margin: 3%;
        width: 100%;
        height: 100%;
}

    .contacts ul{
        flex-direction: column;        
    }
    
    
}
